# ==========================================
# 1. CORE APPLICATION SETTINGS
# ==========================================
# 'local', 'qa', or 'production'
ENV=local
ALLOWED_DOCUMENT_MIME_TYPES = ["text/plain", "application/pdf"]
DOCUMENT_MAX_SIZE=10
#===================================================
# 2.SECURITY
#=====================================================
# Used to sign JWT tokens. MUST be at least 32 characters.
JWT_SECRET_KEY=""
JWT_ALGORITHM="HS256"
ACCESS_TOKEN_TIME_OUT=60
REFRESH_TOKEN_TIME_OUT=7

# ==========================================
# 3. DATABASE (PostgreSQL)
# ==========================================
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
#========================
# 4. postgres-exporter
#==============================
DATA_SOURCE_URI=postgres:5432/postgres?sslmode=disable
DATA_SOURCE_USER=
DATA_SOURCE_PASS=
# ==========================================
# 5. CACHE & QUEUE (Redis)
# ==========================================
REDIS_URL=redis://redis:6379/0

# ==========================================
# 6. CLOUDFLARE R2 (Media Storage)
# ==========================================
# Get from Cloudflare Dashboard -> R2 -> Manage R2 API Tokens
R2_ACCESS_KEY=
R2_SECRET_KEY=
R2_BUCKET_NAME=
# Format: https://<ACCOUNT_ID>.r2.cloudflarestorage.com
R2_ENDPOINT_URL=


#========================================
# 7. LLM Models
#========================================

DEFAULT_CHUNK_SIZE=512000 # 512kb
DEFAULT_CHUNK_OVERLAP=200

OPENAI_GENERATION_MODEL_IDS=["gpt-4o-mini"]
QWEN_GENERATION_MODEL_IDS=["gemma2:9b-instruct-q5_0"]
DEFAULT_GENERATION_MODEL_ID="gpt-4o-mini" # Must be one of the list generation model ids


DAFAULT_INPUT_MAX_CHARACTERS=1024
DAFAULT_GENERATION_MAX_TOKENS=200
DEFAULT_GENERATION_TEMPERATURE=0.1


COHERE_EMBEDDING_MODEL_IDS=["embed-multilingual-v3.0"]
DEFAULT_EMBEDDING_MODEL_ID="embed-multilingual-v3.0" # # Must be one of the list embedding model ids

EMBEDDING_SIZE=1024

#=================================================================
# 8. Vector DB
#=================================================================
VECTOR_DB_BACKEND="PGVECTOR" # LITERALS [PGVECTOR, QDRANT]
VECTOR_DB_DISTANCE_METHOD="cosine"
VECTOR_DB_INDEX_THRESHOLD=100
VECTOR_DB_DEFAULT_SIZE=786
#========================================================
# 9. API KEYS
#========================================================
OPENAI_API_KEY="sk-proj-xxxxxxxxxxxxxxxxxxxxxxx"
OPENAI_API_URL= ""
COHERE_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxx"
